// Typography
//---------------------------------

$font-family--roboto: "Roboto", "Arial", sans-serif;
$font-family--roboto-condensed: "Roboto Condensed", "Arial", sans-serif;
$font-family--oswald: "Oswald", "Verdana", sans-serif;
$font-family--arimo: "Arimo", "Tahoma", sans-serif;

// Viewports
//---------------------------------

$viewport--sm: 320px;
$viewport--md: 768px;
$viewport--lg: 1024px;
$viewport--xl: 1440px;
